body{
    background: linear-gradient(to left, rgb(37, 35, 35), rgb(156, 144, 144));
    width: 100vh;
}

.acces{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
    margin-top: 250px;
    margin-left: 550px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(143, 143, 156), rgb(206, 206, 197));
    border: 1px solid rgb(75, 68, 68) ;
    border-radius: 15px;
}

.still{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}